@model AppleShowcase.Data.Models.Product
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Edit product";
}

<div class="container mt-4">
    <h2>@ViewData["Title"]</h2>
    <form asp-action="Edit" asp-controller="AdminPage">
        <div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="name"></label>
                <input type="text" asp-for="name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="description"></label>
                <input type="text" asp-for="description" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="price"></label>
                <input asp-for="price" class="form-control" />
            </div>
            <div class="form-group mt-4 mb-4">
                <input type="submit" value="Save" class="btn btn-outline-secondary" />
            </div>
        </div>
    </form>
</div>