<div class="position-relative overflow-hidden p-3 p-md-5 m-md-0 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Apple Showcase</h1>
        <p class="lead font-weight-normal">Simple way to observe changes, price, development in Apple devices and apps world. The most convenient way to compare specifications of devices, prices on different sites for make your opinion more optimally. </p>
        <a class="btn btn-outline-secondary" href="#">Begin use</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<div class="container w p-4 p-md-4">
    <div class="row centered">
        <br><br>
        <div class="col-lg-4">
            <i class="fa fa-eye"></i>
            <h4>Showcase</h4>
            <p>Just watch, but if you like to buy, you may press on one of three buttons and go over one of three stores</p>
        </div>
        <div class="col-lg-4">
            <i class="fa fa-user-shield"></i>
            <h4>Trust</h4>
            <p>All device photos and descriptions get at only trusted sources like a official Apple site or AppStore </p>
        </div>
        <div class="col-lg-4">
            <i class="fa fa-home"></i>
            <h4>Stay home</h4>
            <p>Simple design and lovely interface are give you satisfaction while watching, and you may not go out for watch products in stores</p>
        </div>
    </div>
    <br><br>
</div> 